@import './src/variables';

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .photo {
    display: block;
    height: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;

    &.photo-loaded {
      height: 300px;
    }

    &.photo-favorite {
      border: 2px solid red;
    }
  }
}

.loading-spinner {
  margin: 0 auto;
  padding-bottom: 100px;
}
