<div class="photo-gallery">
  <ng-container *ngFor="let photoUrl$ of photoUrls$">
    <img width="200"
         height="300"
         class="photo"
         [src]="photoUrl"
         (load)="showPhoto($event)"
         (click)="toggleFavorite($event)"
         [ngClass]="{'photo-favorite': isFavorite(photoUrl)}"
         *ngIf="(photoUrl$ | async) as photoUrl"
         loading="lazy"
         alt="photo">
  </ng-container>
</div>
<mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>
