.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  img {
    display: block;
    height: 0;
    transition: .3s;

    &.photo-loaded {
      height: 330px;
    }
  }
}

.loading-spinner {
  display: block;
  width: 100%;
  height: 450px;
}
